rules_version = '2';

service cloud.firestore {
  match /databases/{database}/documents {
    match /option_sentiment/{symbol} {
      allow read: if true;
      allow write: if false;
    }

    match /stock_scans/{report} {
      allow read: if true;
      allow write: if false;
    }

    match /live_quotes/{symbol} {
      allow read: if true;
      allow write: if false;
    }

    match /{document=**} {
      allow read, write: if false;
    }
  }
}